<% if (signupMessage) { %>

    <div><%= signupMessage %></div>
<% } %>

<form action="/signup" method="POST"> 
    <input type="email" name="email" placeholder="Correo electronico">
    <input type="password" name="password" placeholder="contraseña">

    <button type="submit">
        Registrar colaborador
    </button>
</form>